.message-form {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 32em) {
  .message-form {
    margin-bottom: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .message-form {
    margin-bottom: 2rem;
  }
}

.fields {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: -1.6rem;
  margin-left: -1.6rem;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}

@media screen and (min-width: 32em) {
  .fields {
    padding: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .fields {
    padding: 2rem;
  }
}

@media screen and (min-width: 32em) {
  .fields {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    max-width: 96rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.legend {
  font-weight: 600;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin-left: -0.8rem;
  margin-bottom: -1.6rem;
  font-size: 1.2000000000000002rem;
  line-height: 1.6rem;
}

@media screen and (min-width: 32em) {
  .legend {
    padding-right: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    padding-left: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    margin-left: calc(-0.8rem + -0.19999999999999996 * (100vw - 32rem) / 28);
    margin-bottom: calc(-1.6rem + -0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .legend {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: -1rem;
    margin-bottom: -2rem;
  }
}

@media screen and (min-width: 32em) {
  .legend {
    font-size: calc(1.2000000000000002rem + 0.2999999999999998 * (100vw - 32rem) / 28);
    line-height: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .legend {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.toltip {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 32em) {
  .toltip {
    margin-bottom: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .toltip {
    margin-bottom: 1rem;
  }
}

.fields-container > * {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 32em) {
  .fields-container > * {
    margin-bottom: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .fields-container > * {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 60em) {
  .fields-container > * {
    margin-bottom: 0 !important;
  }
}

.fields-container > :last-child {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 60em) {
  .fields-container > :last-child {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 60em) {
  .fields-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.fields-container > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

.message-content-container > * {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 32em) {
  .message-content-container > * {
    margin-right: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .message-content-container > * {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 32em) {
  .message-content-container > * {
    margin-bottom: 0 !important;
  }
}

.message-content-container > :last-child {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 32em) {
  .message-content-container > :last-child {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 32em) {
  .message-content-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.message-content-container > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}
