.header {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 32em) {
  .header {
    margin-bottom: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .header {
    margin-bottom: 2rem;
  }
}

.header-title-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-title {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.2rem;
}

@media screen and (min-width: 32em) {
  .header-title {
    font-size: calc(2.5rem + 0.625 * (100vw - 32rem) / 28);
    line-height: calc(3.2rem + 0.7999999999999998 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .header-title {
    font-size: 3.125rem;
    line-height: 4rem;
  }
}

.header-info {
  font-size: 1.2000000000000002rem;
  line-height: 1.6rem;
  max-width: 40em;
}

@media screen and (min-width: 32em) {
  .header-info {
    font-size: calc(1.2000000000000002rem + 0.2999999999999998 * (100vw - 32rem) / 28);
    line-height: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .header-info {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.header-info * {
  font-size: inherit;
}