.message-form {
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 32em) {
  .message-form {
    margin-bottom: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .message-form {
    margin-bottom: 2rem;
  }
}

.fields {
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  margin-right: -1.6rem;
  margin-left: -1.6rem;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}

@media screen and (min-width: 32em) {
  .fields {
    padding: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .fields {
    padding: 2rem;
  }
}

@media screen and (min-width: 32em) {
  .fields {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    max-width: 96rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.legend {
  font-weight: 600;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  margin-left: -0.8rem;
  margin-bottom: -1.6rem;
  font-size: 1.2000000000000002rem;
  line-height: 1.6rem;
}

@media screen and (min-width: 32em) {
  .legend {
    padding-right: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    padding-left: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    margin-left: calc(-0.8rem + -0.19999999999999996 * (100vw - 32rem) / 28);
    margin-bottom: calc(-1.6rem + -0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .legend {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: -1rem;
    margin-bottom: -2rem;
  }
}

@media screen and (min-width: 32em) {
  .legend {
    font-size: calc(1.2000000000000002rem + 0.2999999999999998 * (100vw - 32rem) / 28);
    line-height: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .legend {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.toltip {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 32em) {
  .toltip {
    margin-bottom: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .toltip {
    margin-bottom: 1rem;
  }
}

.fields-container > * {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 32em) {
  .fields-container > * {
    margin-bottom: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .fields-container > * {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 60em) {
  .fields-container > * {
    margin-bottom: 0 !important;
  }
}

.fields-container > :last-child {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 60em) {
  .fields-container > :last-child {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 60em) {
  .fields-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.fields-container > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

.message-content-container > * {
  margin-bottom: 0.8rem;
}

@media screen and (min-width: 32em) {
  .message-content-container > * {
    margin-right: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .message-content-container > * {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 32em) {
  .message-content-container > * {
    margin-bottom: 0 !important;
  }
}

.message-content-container > :last-child {
  margin-bottom: 0 !important;
}

@media screen and (min-width: 32em) {
  .message-content-container > :last-child {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 32em) {
  .message-content-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.message-content-container > * {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

.message-content-field-container .c1xd82f7 {
  background: red;
}

.message-content-field-container .c1xd82f7:after {
  border-bottom-color: red;
}

.message-content-field-container .error-message {
  background: red;
}

.message-content-field-container .error-message:after {
  border-bottom-color: red;
}

.touched .c1xd82f7 {
  display: block;
}

.touched .error-message {
  display: block;
}

.message-content-field-label {
  display: block;
  font-weight: 400;
  color: #424242;
}

.message-content {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 4px;
  border: 1px solid #707070;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 32em) {
  .message-content {
    padding-right: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    padding-left: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    padding-top: calc(0.4rem + 0.09999999999999998 * (100vw - 32rem) / 28);
    padding-bottom: calc(0.4rem + 0.09999999999999998 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .message-content {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.message-content[type='search']::-webkit-search-cancel-button,
.message-content[type='search']::-webkit-search-decoration,
.message-content[type='search']::-webkit-search-results-button,
.message-content[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.error-message {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  margin-top: 0.8rem;
  position: relative;
  border-radius: 4px;
  color: #fff;
  display: none;
  text-align: center;
}

@media screen and (min-width: 32em) {
  .error-message {
    padding-right: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    padding-left: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
    padding-top: calc(0.4rem + 0.09999999999999998 * (100vw - 32rem) / 28);
    padding-bottom: calc(0.4rem + 0.09999999999999998 * (100vw - 32rem) / 28);
    margin-top: calc(0.8rem + 0.19999999999999996 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .error-message {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
  }
}

.error-message:after {
  position: absolute;
  border: solid transparent;
  content: ' ';
  top: auto;
  left: 50%;
  height: 0;
  width: 0;
  margin: 0;
  border-color: transparent;
  border-width: 0.3125rem;
  pointer-events: none;
  bottom: 100%;
  border-bottom-color: red;
  margin-left: -0.3125rem;
}

.touched .error-message {
  display: block;
}

.error .error-message {
  background: red;
}

.error .error-message:after {
  border-bottom-color: red;
}

.error-message,
.warning .error-message {
  background: orange;
}

.error-message:after,
.warning .error-message:after {
  border-bottom-color: orange;
}

.error-message,
.error-message @media screen and (min-width:32em) {
  text-align: left;
}
