#app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

.cc0img9 {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1.6rem;
}

@media screen and (min-width: 32em) {
  .cc0img9 {
    padding: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .cc0img9 {
    padding: 2rem;
  }
}

.cgmxdsh {
  margin-left: auto;
  margin-right: auto;
  max-width: 96rem;
}

.c1tr6g77 {
  padding: 1.6rem;
  background: #efefef;
  text-align: center;
}

@media screen and (min-width: 32em) {
  .c1tr6g77 {
    padding: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .c1tr6g77 {
    padding: 2rem;
  }
}