#app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

.main {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1.6rem;
}

@media screen and (min-width: 32em) {
  .main {
    padding: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .main {
    padding: 2rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 96rem;
}

.footer {
  padding: 1.6rem;
  background: #efefef;
  text-align: center;
}

@media screen and (min-width: 32em) {
  .footer {
    padding: calc(1.6rem + 0.3999999999999999 * (100vw - 32rem) / 28);
  }
}

@media screen and (min-width: 60em) {
  .footer {
    padding: 2rem;
  }
}

.avatar {
  height: 60px;
}